/* Your form design */
.change{
  background: rgb(22,46,164);
  background: linear-gradient(75deg, rgba(22,46,164,1) 27%, rgba(66,98,183,1) 100%);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,1);
}
